.img {
  
   justify-content: center;
   height: 380px;
   width: 100%;
   float: left;
}


  .b {
      padding-top: 2rem;
      margin: 1rem;
  }
  .s {
      font-size: 1.5rem;
      font-weight: 1rem;
      flex-wrap: wrap;     
       background-color: rgb(238, 238, 238);

  }
  h3 {
      padding-top: 2rem;
  }